<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.firsteypipi">

    <application
        android:allowBackup="true"
        android:icon="@drawable/micro_soccer_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/micro_soccer_logo_circle"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Main_Dashboard"
            android:label="@string/title_activity_main__dashboard"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".splash_activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".register" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>